* {
    margin: 0;
    padding: 0;
}
  @font-face {
    font-family: 'pixels';
    src: url('/PressStart2P.ttf');
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  main {
    background-color: #1E201E;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -100;
    overflow-x: hidden;
  }

  .logo-cover-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: end;
  }
  
  .logo-cover {
    border-right: 157px solid #1E201E;
    border-top: 56px solid #1E201E;
  }